<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="moe.shizuku.privileged.api.PERMISSION_GRANTED" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" tools:ignore="ProtectedPermissions" />

    <application
        android:name=".ShizukuPluginApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ActivityLauncherShizukuPlugin">

        <activity
            android:name=".LauncherActivity"
            android:exported="true"
            android:theme="@style/Theme.Transparent" />

        <activity-alias
            android:name=".LaunchActivity"
            android:exported="true"
            android:permission="de.szalkowski.activitylauncher.permission.LAUNCH_ACTIVITY"
            android:targetActivity=".LauncherActivity">
            <intent-filter>
                <action android:name="activitylauncher.intent.action.LAUNCH_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:multiprocess="false"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />

    </application>

</manifest>
